<plex-layout>
  <plex-layout-main>
    <plex-title titulo="Crear usuario">
      <ng-container>
        <plex-button label="Enviar" type="info" (click)="enviar()"></plex-button>
        <plex-button label="Cancelar" type="danger" (click)="cancelar()">
        </plex-button>
      </ng-container>

    </plex-title>
    <div class="row">
      <div class="col-md">
        <plex-text label="Apellido" [(ngModel)]="usuario.apellido" name="apellido" [required]="true">
        </plex-text>
      </div>
      <div class="col-md">
        <plex-text label="Nombre" [(ngModel)]="usuario.nombre" name="nombre" [required]="true">
        </plex-text>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <plex-text label="Documento" [(ngModel)]="usuario.documento" name="documento" [required]="true">
        </plex-text>
      </div>
      <div class="col-md">
        <plex-text label="Ingrese su e-mail" prefix="<i class='mdi mdi-email'></i>" [(ngModel)]="usuario.email"
                   name="email" [required]="true">
        </plex-text>
      </div>
    </div>
  </plex-layout-main>
</plex-layout>