<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Visualizar reportes de ocupación enviados a nación">
            <plex-button label='Cancelar' type='danger' (click)='clear()' *ngIf='reportEvent'></plex-button>
            <plex-button label='Exportar' type='success' (click)='submitReport()' [disabled]='!reportEvent'></plex-button>
        </plex-title>
        <div class="row mb-2">
            <div class="col">
                <plex-select [(ngModel)]="institution" name="institucion" label="Institucion" [data]="institutions" [required]="false" (change)="searchReport()">
                </plex-select>
            </div>
            <div class="col">
                <plex-select [(ngModel)]="tipoReporte" name="Tipo" label="Tipo" [data]="tipoReportes" [required]="false" (change)="searchReport()">
                </plex-select>
            </div>
            <br>
        </div>
        <hr>
        <form *ngIf="reportEvent">
            <div *ngFor='let field of reportFields'>
                <plex-int [label]="field.label" type="int" [(ngModel)]="reportEvent.report[field.key]"
                    [name]="field.label" [required]="true">
                </plex-int>  
            </div>
        </form>
    </plex-layout-main>
</plex-layout>