<plex-modal #modal>
  <!-- <plex-icon name="lock-reset" type="info"></plex-icon> -->
  <main>
    <form class="regenerate-password mx-4" #formulario="ngForm">
      <plex-title size="sm" titulo="Crear una contraseña nueva"> </plex-title>
      <br>
      <span class="d-inline-flex text-default">
        Ingresá una contraseña nueva.</span>
      <div class="usuario mb-2">
        <plex-text placeholder="Ingresá una nueva contraseña" [(ngModel)]="password1" [required]="true" name="password1"
                   [password]="!auth.showPassword">
        </plex-text>
        <plex-icon class="hover" [name]="auth.eye" type="info" size="24" [title]="auth.passwordTooltip"
                   titlePosition="right" (click)="auth.toggleEye()">
        </plex-icon>
      </div>
      <div class="password mb-3">
        <plex-text placeholder="Confirmá tu nueva contraseña" [(ngModel)]="password2" [required]="true" name="password2"
                   [password]="!auth.showPassword">
        </plex-text>
      </div>
      <plex-loader *ngIf="loading" type="ball-pulse-sync"></plex-loader>
    </form>
  </main>

  <plex-button modal left type="danger" (click)="cancel()">
    Cancelar
  </plex-button>
  <plex-button modal right type="success" [validateForm]="formulario" [disabled]="!formulario.form.valid"
               (click)="save($event)">
    Confirmar contraseña
  </plex-button>

</plex-modal>
