<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Regenerar contraseña"> </plex-title>

        <form #formulario="ngForm">

            <div class="row ">
                <div class="col">
                    <plex-text placeholder="Ingresa una nueva contraseña" [(ngModel)]="password1" [required]="true"
                               name="password1" [password]="true" prefix="<i class='mdi mdi-dialpad'></i>">
                    </plex-text>
                    <div class="row">&nbsp;</div>
                    <plex-text placeholder="Confirma tu nueva contraseña" [(ngModel)]="password2" [required]="true"
                               name="password2" [password]="true" prefix="<i class='mdi mdi-dialpad'></i>">
                    </plex-text>
                    <div class="row">&nbsp;</div>
                    <plex-button type="info" [validateForm]="formulario" (click)="save($event)" size='block'>
                        Confirmar mi nueva contraseña
                    </plex-button>
                    <plex-loader *ngIf="loading" type="ball-pulse-sync"></plex-loader>
                </div>
            </div>

        </form>
    </plex-layout-main>
</plex-layout>