@import '~@andes/plex/src/lib/css/variables';

@mixin floating-icons($top: 0, $bottom: 28px) {
    .usuario,
    .password {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    plex-text {
        width: 100%;
    }

    plex-icon {
        &[name='account-key'],
        &[type='info'] {
            position: absolute;
        }
        &[name='account-key'] {
            right: 10px;
            color: grey;
        }
        &[type='info'] {
            right: 7px;
            top: $top;
            bottom: $bottom;
        }
    }
}

// Overrides
:root {
    // --nav-bar-color: #7a3e7b;
    --nav-bar-color: #4d7998;
}
// Fin Overrides

::ng-deep {
    .navbar-inverse {
        z-index: 1;
    }
    plex-text .clear-icon {
        display: none !important;
    }
    .plex-modal {
        overflow-y: scroll !important;
    }
}
.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;

    form {
        @include floating-icons();
    }

    .sala {
        color: var(--nav-bar-color);
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 7px;
    }

    .text-sala {
        color: var(--nav-bar-color);
        font-weight: 600;
    }

    // Andes
    .andes {
        width: 150px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: center center;
        background-image: url('../../assets/img/andes-logo-full-color.svg');
    }
}

.register-user {
    @include floating-icons(0, 1px);
}

.regenerate-password {
    @include floating-icons(0, 36px);
}
