<div class="container">
    <div class="row" justify="center">
        <div class="col-12">
            <p class="lead"><b>Bienvenido a la sala de situación de la Provincia del Neuquén</b></p>
            <p>Este sistema tiene como objetivo brindar información precisa y actualizada del estado de situación del
                sistema sanitario de la provincia en el marco de la Pandemia COVID-19. Como organización de salud
                pública o
                privada podrás realizar las siguientes acciones:</p>
            <ol class="list-group">
                <li class="list-group-item">Registrar una organización de salud para realizar la carga de datos.</li>
                <li class="list-group-item">Cargar, modificar y visualizar eventos relacionados a la dotación,
                    disponibilidad
                    y equipamiento de camas de las organizaciones de Salud.</li>
            </ol>
        </div>
    </div>
</div>