<plex-layout>
    <plex-layout-main>
        <plex-title titulo="{{title}}">
            <plex-button type="success" size="sm" icon="refresh" (click)="filtrarResultados()">
            </plex-button>
        </plex-title>
        <div class="row">
            <div class="col-12">
                <plex-select [multiple]="true" [(ngModel)]="selectedInstitutions" name="institucion"
                             (change)="filtrarResultados()" label="Filtrar Institución" [data]="institutions"
                             [required]="false" placeholder="Ingresá el nombre de una Institución">
                </plex-select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-{{chart.cols}}" *ngFor="let chart of urls">
                <iframe class="chart border-0" [src]="chart.url | safe"></iframe>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>