<plex-layout>
    <plex-layout-main>
        <plex-title titulo="{{title}}">
            <plex-button type="success" icon="mdi mdi-refresh" (click)="filtrarResultados()">
            </plex-button>
        </plex-title>
        <div class="row">
            <div class="col-12">
                <plex-select [multiple]="true" [(ngModel)]="selectedInstitutions" name="institucion"
                             (change)="filtrarResultados()" label="Institucion" [data]="institutions"
                             [required]="false">
                </plex-select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6" *ngFor="let url of urls">
                <div class="w-100">
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                            width="640" height="480" [src]="url | safe"></iframe>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let url of urls$ | async">
        </ng-container>
    </plex-layout-main>
</plex-layout>
