<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Activación de cuenta">
            <ng-container>
                <plex-button label="Ingresar" type="info" (click)="ingresar()"></plex-button>
            </ng-container>
        </plex-title>
        <div *ngIf="user$ | async as user">
            <div class="row">
                <div class="col-md">
                    <h6>¡Tu cuenta ya está activa! Podés ingresar con tu usuario {{ email }} y la contraseña que
                        elegiste.</h6>
                </div>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>