<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Instituciones">
            <ng-container>
                <plex-button label="Guardar" type="info" (click)="guardar()"></plex-button>
                <plex-button label="Cancelar" type="danger" (click)="cancelar()"> </plex-button>
            </ng-container>
        </plex-title>
        <div class="row">
            <div class="col-md">
                <plex-text label="Nombre" [(ngModel)]="institution.nombre" name="nombre" [required]="true"> </plex-text>
            </div>
            <div class="col-md">
                <plex-text
                    label="e-mail de la institución"
                    prefix="<i class='mdi mdi-email'></i>"
                    [(ngModel)]="institution.email"
                    name="email"
                >
                </plex-text>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <!-- reemplazar por plex-phone -->
                <plex-phone
                    label="Teléfono"
                    [(ngModel)]="institution.telefono"
                    name="telefono"
                    [required]="true"
                    placeholder="Ej: 2990000000"
                >
                </plex-phone>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <plex-bool
                    [(ngModel)]="neuquen"
                    label="Provincia de Neuquén"
                    name="provinciaNeuquen"
                    (change)="setNeuquen($event)"
                >
                </plex-bool>
            </div>
        </div>
        <div class="row">
            <div class="col-md" *ngIf="!neuquen">
                <plex-select
                    label="Provincia"
                    [(ngModel)]="institution.location.provincia"
                    [required]="true"
                    name="provincia"
                    [data]="provincias"
                    labelField="nombre"
                    (change)="changeProvincia($event)"
                >
                </plex-select>
            </div>
            <div class="col-md">
                <plex-select
                    label="Localidad"
                    [(ngModel)]="institution.location.localidad"
                    [required]="true"
                    name="localidad"
                    [data]="localidades"
                    labelField="nombre"
                    (change)="changeLocalidad($event)"
                >
                </plex-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <plex-select
                    label="Barrio"
                    [(ngModel)]="institution.location.barrio"
                    name="localidad"
                    [data]="barrios"
                    labelField="nombre"
                >
                </plex-select>
            </div>
            <div class="col-md">
                <plex-text
                    label="Dirección"
                    [(ngModel)]="institution.location.direccion"
                    name="direccion"
                    placeholder="Ej: Avenida las Flores 1200"
                >
                </plex-text>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="block">Estado</label>
                <plex-bool [(ngModel)]="institution.activo" type="slide" name="slide"></plex-bool>

                {{ institution.activo ? 'Habilitada' : 'Deshabilitada' }}
            </div>
        </div>
        <!-- <div class="row">
      <div class="col-md">
        <plex-button [disabled]="disableGeolocalizar" label="Geolocalizar" type="success" (click)="actualizarMapa()">
        </plex-button>
      </div>
    </div> -->
    </plex-layout-main>
</plex-layout>
