<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Listado de instituciones">
            <plex-button label="Nueva Institución" type="info" (click)="create()"></plex-button>
        </plex-title>
        <p class="lead d-sm-none mb-0 mt-2">Filtros</p>
        <div *ngIf="institutions?.length" class="row">
            <div class="col-12 col-md-3">
                <plex-text [(ngModel)]="nombre" name="nombre" (change)="filtrarResultados()" label="Nombre"
                           [required]="false">
                </plex-text>
            </div>
            <div class="col-12 col-md-3">
                <plex-select label="Provincia" [(ngModel)]="provincia" name="provincia" [data]="provincias"
                             labelField="nombre" (change)="changeProvincia($event)">
                </plex-select>
            </div>
            <div class="col-12 col-md-3">
                <plex-select label="Localidad" [(ngModel)]="localidad" name="localidad" [data]="localidades"
                             labelField="nombre" (change)="filtrarResultados()">
                </plex-select>
            </div>
            <div class="col-12 col-md-3">
                <plex-select label="Estado" [(ngModel)]="estado" name="estado" [data]="estados"
                             (change)="filtrarResultados()">
                </plex-select>
            </div>
        </div>
        <div *ngIf="institutions?.length === 0">
            <main role="main" class="inner">
                <p class="lead">No tenés instituciones asociadas.</p>
            </main>
        </div>
        <br>
        <plex-list>
            <plex-heading>
                <b label>Nombre</b>
                <b label>Email</b>
                <b label>Teléfono</b>
                <b label>Dirección</b>
                <b label></b>
            </plex-heading>
            <ng-container *ngFor="let institution of institutions">
                <plex-item class="hover" [selected]="institution.selected">
                    <plex-label>{{ institution.nombre }}</plex-label>
                    <plex-label class="text-wrap">{{ institution.email }}</plex-label>
                    <plex-label>{{ institution.telefono }}</plex-label>
                    <plex-label>{{ institution.direccion }}</plex-label>
                    <plex-badge *ngIf="institution.activo" type="success">Habilitada</plex-badge>
                    <plex-badge *ngIf="!institution.activo" type="danger">Deshabilitada</plex-badge>
                    <plex-button type="info" size="sm" icon="pencil" (click)="edit(institution)"></plex-button>
                </plex-item>
            </ng-container>
        </plex-list>
    </plex-layout-main>
</plex-layout>