.resetPassword-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10%;
    padding-left: 25vw;
    padding-right: 25vw;
    width: 100%;
    height: 100%;
    background: lightgray;
}
.resetPassword-content {
    font-size: 200px; 
    text-align: center;
    color:black;
    align-items: center;
}
.reset-title{
    font-size: 78px
}
.reset-subtitle{
    font-size: 24px
    ;
}
    