<plex-modal #modal>
    <!-- <plex-icon name="lock-reset" type="info"></plex-icon> -->
    <main>
        <form class="mx-4" #formulario="ngForm">
            <plex-title size="sm" titulo="Reestablecer contraseña">
            </plex-title>
            <span class="d-inline-flex mb-1 text-120">
                Ingresá tu usuario (e-mail):
            </span>
            <plex-text placeholder="usuario (e-mail)" required [(ngModel)]="email" name="email"
                       (change)="verificarFormatoEmail()" autofocus="true">
            </plex-text>
            <span *ngIf="!validEmail" class="text-danger mt-1">Formato de email incorrecto</span>
            <span class="d-inline-flex mt-4 text-default">
                Te va a llegar un email con instrucciones para crear una contraseña nueva.</span>
            <plex-loader *ngIf="loading" type="ball-pulse-sync"></plex-loader>
        </form>
    </main>
    <plex-button modal left type="danger" (click)="cancel()">
        Cancelar
    </plex-button>
    <plex-button modal right type="success" [validateForm]="formulario"
                 [disabled]="!formulario.form.valid || !validEmail" (click)="reset($event)" size='block'>
        Enviar
    </plex-button>
</plex-modal>