<div class="resetPassword-container">
    <form #formulario="ngForm">
        <div class="resetPassword-content">
            <div class="mdi mdi-lock">
                <div class="reset-title">¿Olvidaste tu contraseña?
                    <div class="reset-subtitle">Podés recupearla acá</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <plex-text placeholder="Ingrese email" [(ngModel)]="email" name="email" [required]="true"
                           prefix="<i class='mdi mdi-email'></i>">

                </plex-text>
                <div class="row">&nbsp;</div>
                <plex-button type="info" [validateForm]="formulario" [disabled]="!formulario.form.valid"
                             (click)="reset($event)" size='block'>
                    Recuperar mi contraseña
                </plex-button>
                <div class="row">&nbsp;</div>
                <plex-loader *ngIf="loading" type="ball-pulse-sync"></plex-loader>
            </div>
        </div>
    </form>
</div>