<plex-layout>
    <plex-layout-main>
        <form #formulario="ngForm">
            <plex-title main titulo="Alta de tipo de evento">
                <plex-button type="danger" [routerLink]="'/events'">
                    Cancelar
                </plex-button>
                <plex-button type="success" [validateForm]="formulario" (click)="save($event)" class="ml-2">
                    Guardar
                </plex-button>
            </plex-title>
            <plex-wrapper>
                <plex-text label="Nombre" [required]="true" name="nombre" [(ngModel)]="event.nombre"></plex-text>
                <plex-text label="Categoría/Clave" [required]="true" name="categoria" [(ngModel)]="event.categoria">
                </plex-text>
                <plex-bool label="Activo" type="slide" name="activo" [(ngModel)]="event.activo"></plex-bool>
            </plex-wrapper>
            <plex-title size="sm" titulo="Indicadores">
                <plex-button type="info" size="sm" (click)="onAdd()">
                    AGREGAR INDICADOR
                </plex-button>
            </plex-title>

            <div class="mt-4">
                <div class="row mb-2" id="wrapper-{{ i }}" *ngFor="let indicador of event.indicadores; let i = index">
                    <div class="col-md col-sm-12">
                        <b>Clave</b>

                        <plex-text name="key-{{ i }}" [(ngModel)]="indicador.key" required></plex-text>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Nombre</b>

                        <plex-text name="label-{{ i }}" [(ngModel)]="indicador.label" required></plex-text>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Tipo de dato</b>

                        <plex-select name="select-{{ i }}" [(ngModel)]="indicador.type" [data]="tiposList">
                        </plex-select>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Descripción</b>

                        <plex-text name="descripcion-{{ i }}" [(ngModel)]="indicador.descripcion" required></plex-text>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Subfiltro</b>
                        <br>
                        <plex-bool type="slide" name="subfiltro-{{ i }}" [(ngModel)]="indicador.subfiltro">
                        </plex-bool>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Requerido</b>
                        <br>
                        <plex-bool type="slide" name="active-{{ i }}" [(ngModel)]="indicador.required" required>
                        </plex-bool>
                    </div>
                    <div class="col-md col-sm-12" justify>
                        <plex-button title="Borrar" type="danger" icon="delete" (click)="onRemove(i)">
                        </plex-button>
                    </div>
                    <div class="col-md col-sm-12" *ngIf="indicador.type.id === 'int'">
                        <plex-int label="Minimo" name="minimo-{{ indicador.key }}" [(ngModel)]="indicador.min">
                        </plex-int>
                        <plex-int label="Maximo" name="maximo-{{ indicador.key }}" [(ngModel)]="indicador.max">
                        </plex-int>
                        <plex-bool label="Precargado" type="slide" name="preload-{{ i }}"
                                   [(ngModel)]="indicador.preload">
                        </plex-bool>
                    </div>
                    <div class="col-md col-sm-12" *ngIf="indicador.type.id === 'select'">
                        <plex-select label="Tipo de recurso" style="width: 100%;" name="select-recurso-{{ i }}"
                                     [(ngModel)]="indicador.recurso" [data]="selectList" required
                                     placeholder="Tipo de recurso">
                        </plex-select>

                    </div>
                </div>
            </div>
        </form>
    </plex-layout-main>
</plex-layout>