<plex-layout>
    <plex-layout-main>
        <form #formulario="ngForm">
            <plex-title main titulo="Alta de tipo de evento">
                <plex-button type="danger" [routerLink]="'/events'">
                    Cancelar
                </plex-button>
                <plex-button type="success" [validateForm]="formulario" (click)="save($event)" class="ml-2">
                    Guardar
                </plex-button>
            </plex-title>
            <plex-wrapper>
                <plex-text label="Nombre" [required]="true" name="nombre" [(ngModel)]="event.nombre"></plex-text>
                <plex-text label="Categoría/Clave" [required]="true" name="categoria" [(ngModel)]="event.categoria">
                </plex-text>
                <plex-bool label="Activo" type="slide" name="activo" [(ngModel)]="event.activo"></plex-bool>
            </plex-wrapper>
            <plex-title size="sm" titulo="Indicadores">
                <plex-button type="info" size="sm" (click)="onAdd()">
                    AGREGAR INDICADOR
                </plex-button>
            </plex-title>

            <div class="mt-4">
                <div class="row mb-4 mb-2-md" id="wrapper-{{ i }}"
                     *ngFor="let indicador of event.indicadores; let i = index">
                    <div class="col-md col-sm-12">
                        <b>Clave</b>

                        <plex-text name="key-{{ i }}" [(ngModel)]="indicador.key" required></plex-text>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Nombre</b>

                        <plex-text name="label-{{ i }}" [(ngModel)]="indicador.label" required></plex-text>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Tipo de dato</b>

                        <plex-select name="select-{{ i }}" [(ngModel)]="indicador.type" [data]="tiposList">
                        </plex-select>
                    </div>
                    <div class="col-md col-sm-12">
                        <b>Descripción</b>

                        <plex-text name="descripcion-{{ i }}" [(ngModel)]="indicador.descripcion" required></plex-text>
                    </div>
                    <div class="col-md col-sm-4 d-flex justify-content-between">
                        <div>
                            <b>Subfiltro</b>
                            <br>
                            <plex-bool type="slide" name="subfiltro-{{ i }}" [(ngModel)]="indicador.subfiltro">
                            </plex-bool>
                        </div>
                        <div>
                            <b>Requerido</b>
                            <br>
                            <plex-bool type="slide" name="active-{{ i }}" [(ngModel)]="indicador.required" required>
                            </plex-bool>
                        </div>
                    </div>
                    <div class="col-md col-sm-4 d-flex justify-content-between" *ngIf="indicador.type.id === 'int'">
                        <ng-container>
                            <div>
                                <plex-int class="sm" label="Mínimo" name="minimo-{{ indicador.key }}"
                                          [(ngModel)]="indicador.min">
                                </plex-int>
                            </div>
                            <div>
                                <plex-int class="sm" label="Máximo" name="maximo-{{ indicador.key }}"
                                          [(ngModel)]="indicador.max">
                                </plex-int>
                            </div>

                        </ng-container>
                    </div>
                    <div class="col-md col-sm-4 d-flex justify-content-between" *ngIf="indicador.type.id === 'select'">
                        <div>
                            <plex-select name="select-recurso-{{ i }}" [(ngModel)]="indicador.recurso"
                                         [data]="selectList" required placeholder="Tipo de recurso">
                            </plex-select>
                        </div>
                        <div class="precargado">
                            <b>Precargado</b>
                            <plex-bool class="sm" type="slide" name="preload-{{ i }}" [(ngModel)]="indicador.preload">
                            </plex-bool>
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-4" justify="center justify-content-sm-start">
                        <plex-button size="sm" class="mt-2 mt-0-md" title="Borrar" type="danger" label="Eliminar"
                                     (click)="onRemove(i)">
                        </plex-button>
                    </div>
                </div>
            </div>
        </form>
    </plex-layout-main>
</plex-layout>