<plex-layout>
    <plex-layout-main>
        <form #formulario="ngForm">
            <plex-title main titulo="Alta de tipo de evento">
                <plex-button type="success" [validateForm]="formulario" (click)="save($event)">
                    Guardar
                </plex-button>
            </plex-title>
            <plex-wrapper>
                <plex-text label="Nombre" [required]="true" name="nombre" [(ngModel)]="event.nombre"></plex-text>
                <plex-text
                    label="Categoría/Clave"
                    [required]="true"
                    name="categoria"
                    [(ngModel)]="event.categoria"
                ></plex-text>
                <plex-bool label="Activo" type="slide" name="activo" [(ngModel)]="event.activo"></plex-bool>
            </plex-wrapper>
            <plex-title size="sm" titulo="Indicadores">
                <plex-button type="info" size="sm" (click)="onAdd()">
                    AGREGAR
                </plex-button>
            </plex-title>

            <plex-wrapper>
                <!-- CAPAZ FALTRA MEJORAR MAS PLEX -->
                <strong class="text-center" style="flex-grow: 1;">Clave</strong>
                <strong class="text-center" style="flex-grow: 1;">Nombre</strong>
                <strong class="text-center" style="flex-grow: 1;">Tipo de dato</strong>
                <strong class="text-center" style="flex-grow: 1;">Descripción</strong>
                <strong class="text-center" style="flex-grow: 1;">Subfiltro</strong>
                <strong class="text-center" style="flex-grow: 1;">Requerido</strong>
                <strong class="text-center" style="width: 28px;"></strong>
            </plex-wrapper>
            <plex-wrapper *ngFor="let indicador of event.indicadores; let i = index">
                <plex-text name="key-{{ i }}" [(ngModel)]="indicador.key" required></plex-text>
                <plex-text name="label-{{ i }}" [(ngModel)]="indicador.label" required></plex-text>
                <plex-select
                    style="width: 100%;"
                    name="select-{{ i }}"
                    [(ngModel)]="indicador.type"
                    [data]="tiposList"
                    required
                >
                </plex-select>
                <plex-select
                    *ngIf="indicador.type.id === 'select'"
                    style="width: 100%;"
                    name="select-recurso-{{ i }}"
                    [(ngModel)]="indicador.recurso"
                    [data]="selectList"
                    required
                    placeholder="Tipo de recurso"
                >
                </plex-select>
                <plex-text name="descripcion-{{ i }}" [(ngModel)]="indicador.descripcion" required></plex-text>
                <plex-bool type="slide" name="subfiltro-{{ i }}" [(ngModel)]="indicador.subfiltro"></plex-bool>

                <plex-bool type="slide" name="active-{{ i }}" [(ngModel)]="indicador.required" required></plex-bool>

                <plex-button title="Borrar" type="danger" icon="delete" (click)="onRemove(i)"> </plex-button>
            </plex-wrapper>
        </form>
    </plex-layout-main>
</plex-layout>
