<plex-layout>
  <plex-layout-main>
    <plex-title titulo="Listado de eventos">
      <plex-button type="info" [routerLink]="['create']"> NUEVO </plex-button>
    </plex-title>

    <div *ngxObserve="ocurrenceEvents$ as ocurrenceEvents; before: loadingTemplate; error: errorTemplate">
      <plex-accordion>
        <plex-panel *ngFor="let institucion of arrayInstituciones"
                    tituloPrincipal="{{institucion[0].institucion.nombre}}">
          <plex-accordion>
            <ng-container *ngFor="let inst of institucion">
              <plex-panel *ngFor="let subfiltro of indicadores[inst.eventKey].subfiltros"
                          tituloPrincipal="{{ inst.indicadores[subfiltro] }}">
                <plex-title size="sm" titulo="{{ inst.fecha | date: 'dd/MM/yyyy  HH:mm' }}">
                  <plex-button size="sm" icon="pencil" type="info" [routerLink]="[inst.id]"></plex-button>
                </plex-title>
                <ng-container *ngFor="let item of inst.indicadores | keyvalue">
                  <plex-detail size="sm" *ngIf="item.value !== inst.indicadores[subfiltro]">
                    <div title>{{ item.key }}:</div>
                    <div subtitle>{{ item.value }}</div>
                  </plex-detail>
                </ng-container>
              </plex-panel>
            </ng-container>
          </plex-accordion>
        </plex-panel>
      </plex-accordion>

    </div>

    <ng-template #loadingTemplate>
      <p>Loading ...</p>
    </ng-template>
    <ng-template #errorTemplate let-error>
      <p>{{ error }}</p>
    </ng-template>
  </plex-layout-main>
</plex-layout>
