<plex-layout>
  <plex-layout-main>
    <plex-title titulo="Listado de eventos">
      <plex-button type="info" [routerLink]="['create']"> NUEVO </plex-button>
    </plex-title>

    <div *ngxObserve="ocurrenceEvents$ as ocurrenceEvents; before: loadingTemplate; error: errorTemplate">
      <plex-list>
        <plex-heading>
          <b label>Evento</b>
          <b label>Institucion</b>
          <b label>Fecha</b>
          <b label>Activo</b>
          <b button></b>
        </plex-heading>
        <plex-item *ngFor="let ocurrenceEvent of ocurrenceEvents">
          <plex-label [titulo]="ocurrenceEvent.eventKey"></plex-label>
          <plex-label [titulo]="ocurrenceEvent.institucion.nombre"></plex-label>
          <plex-label [titulo]="ocurrenceEvent.fecha | date: 'dd/MM/yyyy  HH:mm' "></plex-label>
          <plex-badge [type]="ocurrenceEvent.activo ? 'success' : 'danger'">
            {{ ocurrenceEvent.activo ? 'HABILITADO' : 'DESHABILITADO' }}
          </plex-badge>
          <plex-button size="sm" icon="pencil" type="info" [routerLink]="[ocurrenceEvent.id]"></plex-button>
        </plex-item>
      </plex-list>
    </div>

    <ng-template #loadingTemplate>
      <p>Loading ...</p>
    </ng-template>
    <ng-template #errorTemplate let-error>
      <p>{{ error }}</p>
    </ng-template>
  </plex-layout-main>
</plex-layout>
