<plex-layout>
  <plex-layout-main>
    <plex-title titulo="Listado de eventos">
      <plex-button type="success" [routerLink]="['create']"> NUEVO </plex-button>
    </plex-title>
    <div class="row">
      <div class="col-md-3">
        <plex-datetime type="date" [(ngModel)]="fechaDesde" name="fechaDesde" (change)="filtrarResultados()"
                       label="Desde" [required]="false">
        </plex-datetime>
      </div>
      <div class="col-md-3">
        <plex-datetime type="date" [(ngModel)]="fechaHasta" name="fechaHasta" (change)="filtrarResultados()"
                       label="Hasta" [required]="false">
        </plex-datetime>
      </div>
      <div class="col-md-3">
        <plex-select [(ngModel)]="selectedEvent" name="institucion" (change)="filtrarResultados()" label="Institucion"
                     [data]="events" [required]="false">
        </plex-select>
      </div>
      <div class="col-md-3">
        <plex-select [(ngModel)]="selectedInstitution" name="institucion" (change)="filtrarResultados()"
                     label="Institucion" [data]="institutions" [required]="false">
        </plex-select>
      </div>
    </div>
    <div class="mt-3">
      <plex-list>
        <plex-heading>
          <b label>Evento</b>
          <b label>Institucion</b>
          <b label>Fecha</b>
          <b button></b>
        </plex-heading>
        <plex-item *ngFor="let ocurrenceEvent of filteredOcurrenceEvents">
          <plex-label [titulo]="ocurrenceEvent.eventKey"></plex-label>
          <plex-label [titulo]="ocurrenceEvent.institucion.nombre"></plex-label>
          <plex-label [titulo]="ocurrenceEvent.fecha | date: 'dd/MM/yyyy  HH:mm' "></plex-label>
          <plex-badge [type]="ocurrenceEvent.activo ? 'success' : 'danger'">
            {{ ocurrenceEvent.activo ? 'INSTITUCIÓN HABILITADA' : 'INSTITUCIÓN DESHABILITADA' }}
          </plex-badge>
          <plex-button size="sm" icon="pencil" type="info" [routerLink]="[ocurrenceEvent.id]"></plex-button>
        </plex-item>
      </plex-list>
    </div>

    <ng-template #loadingTemplate>
      <p>Loading ...</p>
    </ng-template>
    <ng-template #errorTemplate let-error>
      <p>{{ error }}</p>
    </ng-template>
  </plex-layout-main>
</plex-layout>
